{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="background-color:purple; border: 3px solid gold; color:gold">
    <h2>Arrange a Bank Transfer</h2>
    <p class="lead">From here, you may perform a Bank transfer. Simply fill in the recipient's account number, and the amount to transfer. Click on "Confirm" to complete the transaction.</p>
    <p>| <a href="{{ url_for('home') }}">Main Menu</a> | <a href="{{ url_for('bills') }}">Pay a Bill</a> |</p>
</div>
<div style="text-align:center" id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<p style="padding:10px"></p>
<table align="center">
    <tr><td><b>Your Bank: </b></td><td style="padding-left:10px"> United Overseas Bank</td></tr>
    <tr><td><b>Savings Account: </b></td><td id="acc-amt" style="padding-left:10px"> $7,245,067.58</td></tr>
</table>
<hr />


<table align="center">
    <tr><td><b>Recipient Account No: </b></td><td style="padding-left:10px"><input type="text" required id="recipient_acc_no" /></td></tr>
    <tr><td style="padding: 10px"></td></tr>
    <tr><td><b>Amount to pay: </b></td><td style="padding-left:10px"><input type="text" required id="amount_to_pay" /></td></tr>
    <tr><td style="padding: 10px"></td></tr>
</table>
<p style="padding:10px"></p>
<p style="text-align:center"><input type="submit" value="Confirm" /></p>

    {% endblock %}
